.results {
    max-width: 768px;
    margin: 0 auto;
}

.result {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #FFF;
    border-radius: 16px;
    transition: 0.4s;
}

.searchmatch {
    font-weight: 800;
    color: brown;
}